services:

  ORA2103-01: 
    container_name: ORA2103-01
    image:  yadamu/oracle:21.3.0
    isolation: hyperv
    mem_limit: 8192M
    # tmpfs: /dev/shm/:rw,nosuid,nodev,exec,size=4g
    networks:
      - YADAMU-NET
    ports: 
      - "1526:1521"
    environment:
      ORACLE_SID: CDB21300 
      ORACLE_PDB: PDB21300 
      ORACLE_PWD: oracle 
      ORACLE_CHARACTERSET: AL32UTF8
    volumes:
      - YADAMU_01-SHARED:c:\mount
      - ORA2103-01-ADMIN:c:\oracle\admin
      - ORA2103-01-DATA:c:\oracle\oradata
      - ORA2103-01-DIAG:c:\oracle\diag
    restart: always

networks: 
  YADAMU-NET:
     name: YADAMU-NET

volumes:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED
  ORA2103-01-ADMIN:
  ORA2103-01-DATA:
  ORA2103-01-DIAG:
    

