services:

 MONGO50-01: 
    container_name: MONGO50-01
    hostname: MONGO50-01
    image:  mongo:5 
    mem_limit: '10gb'
    shm_size: '2gb'
    security_opt:
      - seccomp:unconfined
    networks:
      - YADAMU-NET
    ports: 
      - "27019:27017"
    volumes:
      - MONGO50-01-VOLUME:/data/db 
    restart: always

networks: 
  YADAMU-NET:
     name: YADAMU-NET

volumes:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED
  MONGO50-01-VOLUME:
    

        