
services:

  MONGO40-01: 
    container_name: MONGO40-01
    hostname: MONGO40-01
    image:  mongo:4
    mem_limit: '12gb'
    shm_size: '2gb'
    security_opt:
      - seccomp:unconfined
    networks:
      - YADAMU-NET
    ports: 
      - "27018:27017"
    volumes:
      - MONGO40-01-VOLUME:/data/db 
    restart: always

networks: 
  YADAMU-NET:
     name: YADAMU-NET

volumes:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED
  MONGO40-01-VOLUME:
    

    