
services:

  ORA2305-01: 
    container_name: ORA2305-01
    hostname: ORA2305-01
    #image:  container-registry.oracle.com/database/free:latest
    image:  gvenzl/oracle-free:23.5-full
    mem_limit: '16gb'
    security_opt:
      - seccomp:unconfined
    shm_size: '8gb'
    # tmpfs: /dev/shm/:rw,nosuid,nodev,exec,size=4g
    networks:
      - YADAMU-NET
    ports: 
      - "15218:1521"
    environment:
      ORACLE_SID: FREE
      ORACLE_PDB: FREEPDB1 
      ORACLE_PWD: oracle 
      ORACLE_CHARACTERSET: AL32UTF8
      ORACLE_PASSWORD: oracle
    volumes:
      - YADAMU_01-SHARED:/mnt/shared
      - ORA2305-01-DATA:/opt/oracle/admin
      - ORA2305-01-DATA:/opt/oracle/oradata
      - ORA2305-01-DIAG:/opt/oracle/diag
    restart: always
    
networks: 
  YADAMU-NET:
     name: YADAMU-NET

volumes:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED
  ORA2305-01-DATA:
  ORA2305-01-DIAG:
