
services:

  PGSQL11-01: 
    container_name: PGSQL11-01
    hostname: PGSQL11-01
    image:  postgres:11.2
    mem_limit: '12gb'
    shm_size: '2gb'
    security_opt:
      - seccomp:unconfined
    networks:
      - YADAMU-NET
    ports: 
      - "54321:5432"
    environment:
      POSTGRES_PASSWORD: oracle 
    volumes:
      - YADAMU_01-SHARED:/mnt/shared
      - PGSQL11-01-DATA:/var/lib/postgresql/data
    restart: always

networks: 
  YADAMU-NET:
     name: YADAMU-NET

volumes:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED
  PGSQL11-01-DATA:
    

    