
services:

  PGSQL12-01: 
    container_name: PGSQL12-01
    hostname: PGSQL12-01
    image:  yadamu/postgres:12 
    mem_limit: '12gb'
    shm_size: '2gb'
    security_opt:
      - seccomp:unconfined
    networks:
      - YADAMU-NET
    ports: 
      - "54322:5432"
    environment:
      POSTGRES_PASSWORD: oracle 
    volumes:
      - YADAMU_01-SHARED:/mnt/shared
      - PGSQL12-01-DATA:/var/lib/postgresql/data
    restart: always

networks: 
  YADAMU-NET:
     name: YADAMU-NET

volumes:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED
  PGSQL12-01-DATA:
    

    