services:
  
  VRTCA12-01: 
    container_name: VRTCA12-01
    hostname: VRTCA12-01
    image:  vertica/vertica-ce:12.0.4-0 
    mem_limit: '10gb'
    shm_size: '2gb'
    security_opt:
      - seccomp:unconfined
    networks:
     - YADAMU-NET
    ports: 
      - "54334:5433"
      - "54444:5444"
    environment:
      APP_DB_USER: "vertica"
      APP_DB_PASSWORD: "oracle"
      TZ: "Etc/UTC"
    #deploy:
    #  mode: global
    volumes:
      - YADAMU_01-SHARED:/mnt/shared
      - VRTCA12-01-VOLUME:/data
    restart: always    
        
    
volumes:
  VRTCA12-01-VOLUME:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED

networks: 
  YADAMU-NET:
     name: YADAMU-NET

