
services:

 VRTCA09-01:
   container_name: VRTCA09-01
   hostname: VRTCA09-01
   image:  dataplatform/docker-vertica
   mem_limit: '12gb'
   shm_size: '2gb'
   security_opt:
     - seccomp:unconfined
   networks:
     - YADAMU-NET
   ports: 
      - "54331:5433"
      - "54441:5444"
   volumes:
     - YADAMU_01-SHARED:/mnt/shared
     - VRTCA09-01-DATA:/home/dbadmin/docker
   restart: always

volumes:
  VRTCA09-01-DATA:
  YADAMU_01-SHARED:
    name: YADAMU_01-SHARED

networks: 
  YADAMU-NET:
     name: YADAMU-NET

